---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
---

<Layout title="关于OpenAHU">
  <Hero title="关于OpenAHU" description="了解我们的发展历程" />
  <section class="py-20 px-4">
    <div class="max-w-4xl mx-auto">
      <div class="prose prose-lg dark:prose-invert">
        <p>
          OpenAHU
          致力于构建一个开放、包容、创新的技术社区。目前该组织由安大通负责维护，该组织主要目的如下：
        </p>
        <ul>
          <li>· 方便大学生活</li>
          <li>· 提供项目实践</li>
          <li>· 回馈开源社区</li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
