---
---

<a href="/" class="flex items-center gap-2 group">
  <img
    src="/favicon.png"
    alt="AHUTong Logo"
    class="h-7 w-7 object-contain"
    width="28"
    height="28"
    decoding="async"
    loading="eager"
    fetchpriority="high"
  />
  <span class="hidden font-bold sm:inline-block">OpenAHU</span>
</a>
