---
---

<a href="/" class="flex items-center gap-2 group">
  <div
    class="relative w-6 h-6 flex items-center justify-center bg-primary-new text-primary-foreground rounded-lg"
  >
    <span class="font-bold text-lg">A</span>
  </div>
  <span class="hidden font-bold sm:inline-block"> OpenAHU </span>
</a>
